::-webkit-scrollbar {
    width:7px;
    border-radius: 10px;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
.homeContainer
{

    display: flex;
    flex-direction: row;
    height:100vw;
    font-family: "Rubik", sans-serif;
}



.openMapWidth
{
    width: 75%;
}

.closeMapWidth
{
    width: 99.99%;
}

.openRightNavbarWidth
{
    width: 25%;
}

.closeRightNavbarWidth
{
    width: 0.1%;
}

.homeRightNavbar
{
    border-left: 2px solid #2d343684;
    transition: 0.2s ease-in-out;
}

.openCloseBtn
{
    position: absolute;
    top: 50vh;
    transform: translateX(-15px);
    background: #2d3436;
    color: white;
    padding: 0.4rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.bookRide
{
    margin: 1rem 2rem ;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 15px #2d34362b;
    border-radius: 10px;
    padding-bottom: 2rem;
}
.bookRide div
{
    display: flex;
    align-items: center; 
    padding: 1rem;   
    background: #ecf0f1;
    margin: 1rem 0;
    border-radius: 5px;
}

.bookRide div input
{
    border: none;
    padding-left: 0.5rem;
    outline: none;
    background: #ecf0f1;
    font-size: 1.1rem;
}


.bookRide div input::placeholder
{
    color: #2d3436;
}

.searchRideBtn
{
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    background: #2d3436;
    color: white; 
    cursor: pointer;
}
